/* sitio web */
body {
    background: url('../img/background.png') !important;
}
.inline {
    display: inline;
}
.border-bottom {
    border-bottom: solid #d9d9d9 thin;
}
.padding15 {
    padding: 15px 0;
}
#loading {
    position: fixed;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    display: none;
    background-color: rgba(255,255,255,0.4);
    z-index: 9999;
    text-align: center;
    width: 100%;
    padding-top: 20%;
}
.container.container-app {
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.toast-top-right {
    top: 70px;
}

/* overwrite */
.box .box-body {
    padding-left: 25px;
    padding-right: 25px;
}

/* survey maker */
.add-section, .add-question {
    cursor: pointer;
    font-size: 2.5rem;
    margin: 10px 0;
    padding: 10px;
}
.add-section:hover, .add-question:hover {
  text-decoration: underline;
}
.add-question {
  font-size: 2rem;
}
.box-dotted {
    padding: 15px;
    border: dashed #d9d9d9 thin;
}
.box-dotted:hover {
    background: #fbfbfb;
    border: solid #c2c2c2 thin;
}
.survey-sections input[type="text"] {
    border: dashed #c2c2c2 thin;
    padding: 5px;
}
.survey-sections input[type=text]:hover, .survey-sections input[type=text]:focus {
    border: solid #c2c2c2 thin;
}
ul.question-options {
    list-style-type: none;
    margin: 15px;
}
ul.question-options li {
    margin: 10px 0;
}
ul.question-options li .trash-btn {
    display: none;
}
ul.question-options li:hover .trash-btn {
    display: block;
}
.textbox-option input[type=text] {
    cursor: pointer;
    width: 100%;
}

.code {
    font-family: monospace;
    font-size: 80%;
    resize: none;
}

/* survey design */
#surveydesign-color label .circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
}
#surveydesign-color input:checked + div {
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
}

/* options */
.config-option {
  width: 250px;
}

.list-answers {
    height: 185px;
    overflow-y: scroll;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}